//anim coeur
.heart{
    position:relative;
    color:white; 
} 

.heart-fill{
    transition:all 0.3s linear 0s;
    position:absolute;
    left:0;
    bottom:0; 
}

.heart:hover .heart-fill{
    transform:scale(1.3);
    
    background:$color-degrade-btn;
    background-clip:text ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}   



//anim descente page restau
.anin-menu{
    transition:all 0.8s;
    animation:slideDown 1s; 
}

@keyframes slideDown{
    0%{
        transform:translateY(0px);
        opacity:0;
    }
    25%{
        transform:translateY(50px)
    }
    50%{
        transform:translateY(50px);
        
    }
    100%{
        transform:translateY(0px);
        opacity: 1;
    }
}
//anim check

/*.boxy i{
    color:white;
    font-size:25px;
    background-color:transparent;
    position: relative;
    z-index: 1; 
    
}
.boxy i{
    &:active{
        &::after{
        transform:translateX(100px,0);
        }
        & > .box-rotation{
            transform: (0deg);
        }
    }
}

.boxy i::after{
    content:"";
    position: absolute;        
    top:0;
    right:0;
    bottom:0;        
    left:0;
    background:$color-degrade-btn;
    opacity:0;
    z-index:-1;
   
}*/

/*.checky{
    margin:20px;
    width:10%;
    background:red;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:10%;
    transition:all 0.4s ease-in-out;
}*/


/*.rotation{
   transform:rotate(-180deg);
   transition: transform 500ms ease-in-out; 
}*/
.box{
    margin:0px;
    padding:30px;
    background:$color-terciar;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:10%;
    color:white;
   
}

.btn-menu:hover .box{
    animation: check 0.4s ease-in-out 1s;
    transform:translateX(-50px);
}
  @keyframes check {
    0% {
        opacity:0;
        transform: rotate(0);
    }
    100% {
        opacity:1;
        transform: rotate(180deg);
    }
  }

//anim loader
@keyframes loader{
    100%{
        transform:translateY(-30px);
        opacity: 0;
        z-index: 1;
       
    }
}

