//anim coeur
.heart-fill{
    position:relative;
   
    /*
    background-clip:text ;
    background: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: $color-neutre; 
    -moz-text-fill-color: $color-neutre;
    border:solid 1px black;*/
} 

.heart{
    transition:all 0.3s linear 0s;
    position:absolute;
    left:0;
    bottom:0;
    
}

.heart-fill:hover .heart{
  
    transform:scale(1.3);


    color:$color-degrade-btn;
    background:$color-degrade-btn;

    background-clip:text ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}   



//anim descente page restau
.anin-menu{
    transition:all 0.8s;
    animation:slideDown 2s; 
}

@keyframes slideDown{
    0%{
        transform:translateY(50%);
        opacity:0;
    }
  
    100%{
        transform:translateY(0);
        opacity: 1;
    }
}
//anim check

.anin-menu{
    overflow: hidden;
    & span{
        color:rgb(94, 94, 94);
        display:flex;
        align-items:flex-end;
        padding-bottom: 10px;
    }
}
.box{
    
    color: $color-neutre;
    background-color: $color-terciar;
    padding: 20px 40px;
    width:5rem;
    margin-right: -5rem !important;
    font-size: xx-large;
    justify-content: center;
    display:flex;
    border-radius: 0 10% 10% 0;
    margin:0;
    cursor: pointer;
    /*transition:all 0.4s ease-in-out;*/

   
}
.btn-menu:hover .box{
    margin-right:0;
}

.anin-menu:hover .fa-check-circle{
    transform: rotate(359deg);
    transition: transform 700ms;
}

.btn-menu:hover .box{
    animation: check 0.4s ease-in-out 1s;
    transition: transform 700ms;   
    transform: translateX(-100px);
}

@keyframes check {
    0%{
        opacity:0;
        transform:translateX(0px)
    }
    100% {
        opacity:1;
        transform: translateX(-100px);
        z-index: 1;
    }
  }

//anim loader
@keyframes loader{
    0%{
        opacity:1;
    }
    100%{
        transform:translateY(-20px);
        opacity: 0;
       
       
    }
}

