//accueil

.btn-explorer{
    border-radius:50px;
    padding:20px 50px;
    background:$color-degrade-btn;
    color:$color-neutre;
    border:none;
    font-size: 1em;
    &:hover{
        filter:opacity(0.5);
    }  
}

.btn-fonction{
    border-radius:20px;
    background-color: $color-smokey;
    box-shadow:5px 5px 5px 1px $color-smokey;
    border:none;

    display: flex;
    align-items: center;

    margin-bottom:20px;
    padding:20px 0px;
    
    width:100%;

    @media (min-width: 992px) {
       padding:10px;   
    }

    &:hover {
        background-color: rgb(242, 231, 245);
        z-index:1;
       i{
            color:$color-primary;
        }
    }
    i{
        padding-left:8px;
    }
   span{
        padding:0 40px 0 20px;
        font-weight:bold;
        font-size:1.5em;
    }
}
//restaurant
.btn-menu{
    background-color: $color-neutre;
    border-radius:15px;
    box-shadow:5px 5px 5px 1px rgb(221, 221, 221) ;
    margin:20px 0;
    cursor:pointer;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    
    h3, p{
        margin:0;  
    }
    span{
        display: flex;
        align-items: center;
        padding-right:20px;
    }
}


.btn-commander{
    display:flex;
    justify-content: center;
    
    
    padding-top:40px;

    @media (min-width: 768px) {
        display:flex;
        flex-wrap: wrap;  
    }
    &:hover{
        filter:opacity(0.5);
    }  

    button{
        border-radius:50px;
        padding: 20px 50px;
        background:$color-degrade-btn;
        color:$color-neutre;
        border:none;
        font-size: 1em;
        font-weight: bold;

    }
}
