//accueil+restau
.heart{
    background-color:transparent;
    position: relative;
    z-index: 1; 
  
}

.heart:hover{
        &::after{
            opacity:1;   
        } 
}
.heart::after{
    content:"";
    position: absolute;        
    top:0;
    right:0;
    bottom:0;        
    left:0;
    background:$color-degrade-btn;
    opacity:0;
    z-index:-1;

    transition: opacity 400ms;
    transform: scale(1.2);

}
