//accueil+restau
.heart{
    color:rgb(77, 73, 73);
    cursor: pointer;
    
    padding-right:10px;    

    &:hover{
        transform:scaleX(1);
        background:linear-gradient(top, $color-primary , $color-secondary );
        color:transparent;
        transition: all .3s ease-in-out; 
    }
}

