@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');

html, body{
    font-family: 'Roboto', sans-serif;
    height:100%;
    margin:0;
    padding:0;
    font-weight:bold;
}
*{
    box-sizing:border-box;
}

header {
    display:flex;
    justify-content:center;
    & img{
        width:50%;
        padding: 20px 0;
    }
}

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-terciary:#99E2D0;

nav.recherches{
    display: flex;
    flex-direction: column;
    & .lieux{
        background-color:rgb(233, 232, 232);
        display:flex;
        justify-content: center;
        padding: 15px 0;
        box-shadow: inset 2px 13px 5px -10px #c9c7c7;
        & i{
            padding-right: 15px;
        }
        & input{
            border:none;
            background-color:rgb(233, 232, 232);
            font-size:1em; 
            font-weight:bold;
        }    
    }
    & .decouverte{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: rgb(240, 245, 247);
        padding-bottom:60px;
        & .explorer{
            border-radius:50px;
            padding: 0 25px;
            background:linear-gradient(to bottom right, $color-secondary, $color-primary);
            color:white;
            border:none;
        }
    } 
}

section.concept{
    padding-left:20px;
    & h1{
        font-weight:bold ;
    }
    & button{
        border-radius:15px;
        box-shadow:1px 1px 1px 4px rgb(240, 245, 247);
        border:none;            
        display: flex;
        margin-bottom:20px;
        padding:10px 0px;
        align-items: center;
        & i{
          padding-right:0px;
        }
        & p{
        padding:0 40px;
        }
    }
}

.prez{
    background:rgb(233, 232, 232);
    margin:15px 0;
}

footer{
    background-color: black;
    color:white;
    padding:40px;
    & img{
        width:40%;
        filter: brightness(20) ;
    }
    & ul{
        list-style-type: none;
        padding-left:0;
        & i{
            padding-right:30px;
            display:flex;
            justify-content: center;
        }
        & li{
            padding:10px 0;
            font-size:1.4em;
        }
    }
}
    



