html, body{
    font-family: 'Roboto','Shrikhand', sans-serif;
    margin:0;
    padding:0;

    & h1,span,p, li{
        font-family: 'Roboto', sans-serif;
    }
    
    .prez a{
        text-decoration: none;
	    color: black;
    }
    footer a{
        text-decoration: none;
	    color:white;
    }
}

*{
    box-sizing:border-box;
}

header {
   text-align: center;
    & img{
        width:auto;
        height:50px;
        padding: 20px 0;
    }
}

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-terciary:#99E2D0;

nav.recherches{
    display: flex;
    flex-direction: column;
} 
    & .lieux{
        background-color:rgb(233, 232, 232);
        display:flex;
        justify-content: center;
        padding: 15px;
        box-shadow: inset 2px 13px 5px -10px #c9c7c7;
        & i{
            padding:0 20px;
        }
        & input{
            border:none;
            background-color:rgb(233, 232, 232);
            font-size:1em; 
            font-weight:bold;
        }    
    }
    
    & .decouverte{ 
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color:whitesmoke;
        padding-bottom:60px;
 
        & h1{
            padding:0px 40px;
            margin-top:40px;
        }
        & span{
            padding:0px 40px;
            margin-bottom:20px;
        }
        & .explorer{
            border-radius:50px;
            padding: 0px 25px;
            background:linear-gradient(to bottom right, $color-secondary, $color-primary);
            color:white;
            border:none;
            font-size: 1em;
            font-weight: bold;
        }
    } 

section.concept{
    padding:20px;
    & button{
        border-radius:20px;
        background-color: whitesmoke;
        box-shadow:5px 5px 5px 1px lightgrey;
        border:none;            
        display: flex;
        margin-bottom:20px;
        padding:10px 0px;
        align-items: center;
        width:100%;
    &:hover {
        background-color: rgb(242, 231, 245);
    }
    i:hover{
        color:$color-primary;
    }     
        & i{
            padding-left:8px;
        }
        & p{
            padding:0 40px 0 20px;
            font-weight:bold;
            font-size:1.2em;
        }
    }
    & span{
        border-radius: 50%;
        background-color:$color-primary;
        color:white;
        padding:8px;
        position:relative;
        right:10px;    
    }
}

.prez{
    background:rgb(233, 232, 232);
    padding:40px 15px;
    & figure{
        margin:16px 0;
        border-radius: 15px;
        background:white;
        box-shadow:5px 5px 5px 1px lightgrey ;
        &  span{
            position: absolute;
            right:30px;
            padding:8px;
            margin-top:15px;
            color:#28967a;
            background:$color-terciary;
            font-weight: bold;
            font-size: 0.9em;
            border-radius: 3px;
        }
    }
    & h3, p{
      margin:0;
      padding:0 10px ;
    }
    & p{
        padding-top: 5px;
      }
    & i{
        color:rgb(77, 73, 73);
        padding-right:10px;    
    }
    i:hover{
        background:-webkit-linear-gradient(top, $color-primary 30%, $color-secondary 70%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }

    & figcaption{
        font-size:1.2em;
        padding:15px;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: center;

    }
    .restau img{
        width:100%;
        height:190px;
        border-radius: 15px  15px 0 0;
        object-fit:cover; 
    }
}

footer{
    background-color: rgb(46, 44, 44);
    color:white;
    padding:40px;
    & img{
        width:auto;
        height: 30px;
        filter: brightness(20) ;
    }
    & ul{
        list-style-type: none;
        padding-left:0;
        & i{
            padding-right:30px;
            display:flex;
            justify-content: center;
        }
        & li{
            padding:10px 0;
            font-size:1em;
        }
    }
}
    



