html, body{
    font-family: 'Roboto','Shrikhand', sans-serif;
    margin:0;
    padding:0;
    @media (min-width: 768px) {
        margin:20px;
     }
    
    & h1{
        font-family: 'Shrikhand', cursive;
    & h2, h3,h4 span,p, li{
        font-family: 'Roboto';
    }
    }

    footer a{
        text-decoration: none;
	    color:white;
    }
}
*{
    box-sizing:border-box;
}

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-terciary:#99E2D0;

header {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding:20px 0;
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0;
    }
    & img{
        width:auto;
        height:50px;
        padding-right:50px;

        
    }
    & i{
        padding-right:30px;
    } 
}
 

 section{
    background-color: whitesmoke;
    & img{
        width:100%;
        height:250px;
        object-fit: cover;
        @media (min-width: 768px) {
           height:250px;
        }
        @media (min-width: 992px) {  
            height: 365px;
           
        }
        }
        & .titre{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius:25px 25px 0 0;
            background: whitesmoke;
            position: relative;
            bottom: 50px;
            
            
        @media (min-width: 768px) {
            background-color:$color-terciary;
            display: flex;
            justify-content: center;

        }

            & h1{
                padding-right:80px;
                font-size:2em;
            } 
            & i{
                color:darkgray;
            }
        } 
    & .blocPage{
        background-color:whitesmoke;
        position: relative;
        bottom: 70px;
        padding:10px;

        @media (min-width: 768px) {
           .colonne{
            margin: 0 80px;
           }
           .blocPage > :nth-child(4){
            display: flex;
           }
        }

        @media (min-width: 992px) {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .colonne{
                margin: 0;
                padding: 0;
                width:31%;
            }        
        }
        

        & h2{
            border-bottom: 4px solid $color-terciary;
            width:10%;
            color:rgb(112, 111, 111);

        @media (min-width: 768px) {
                width:100%;    
        }
    }

        & .menu{
            background-color: white;
            border-radius:15px;
            box-shadow:5px 5px 5px 1px rgb(221, 221, 221) ;
            padding:15px;
            margin-bottom:10px;
        
            @media (min-width: 768px) {
                padding:15px 75px;   
            }
            @media (min-width: 992px) {
                padding:10px;   
            }
           
            & h3, p{
                margin:0;
            }
            & .infos{
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (min-width: 768px) {
                    padding:0;   
                }
                & span{
                    color:rgb(94, 94, 94);
                }
            }
        } 
    }
 }
.commander{
    display:flex;
    justify-content: center;
    padding-top:40px;

    @media (min-width: 768px) {
        display:flex;
        flex-wrap: wrap;  
    }

    button{
        border-radius:50px;
        padding: 0px 50px;
        background:linear-gradient(to bottom right, $color-secondary, $color-primary);
        color:white;
        border:none;
        font-size: 1em;
        font-weight: bold;   
    }
}

footer{
    background-color: rgb(46, 44, 44);
    color:white;
    padding:40px;
    & img{
        width:auto;
        height:30px;
        filter: brightness(20) ;
    }
    & ul{
        list-style-type: none;
        padding-left:0;
        & i{
            padding-right:30px;
            display:flex;
            justify-content: center;
        }
        & li{
            padding:10px 0;
            font-size:1em;
        }
    }
}