//FOOTER


footer{
    background-color: rgb(46, 44, 44);
    color:white;
    padding:40px;
    max-width: 100%;

    a{
        text-decoration: none;
	    color:white;
    }  
    img{
        width:auto;
        height: 45px;
        filter: brightness(20) ;
        padding:10px;
    }

    ul{
        list-style-type: none;
        padding-left:0;
        i{
            padding-right:15px;
            display:flex;
            justify-content: center;
        }
        li{
            padding:10px;
            font-size:1em;
        }
    }
} 


.footer {
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.ligne{
    @media (min-width: 768px) {
         display: inherit;  
    }
}