//HEADER
header {
    text-align: center;
   
     img{
         width:40%;
         height:100px;
         padding: 20px 0;
         @media (min-width: 768px) {
            width:30%;
         }
     }
}

.pageRestos{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding:20px 0;
    
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;

   
        i{
        padding-right:30px;
        } 
    } 
}
