.recherches{
    display: flex;
    flex-direction: column;
    font-size:1.3em;

    @media (min-width: 992px) {
        display:flex;
        flex-direction: column-reverse;
        background-color:$color-terciar;
    }
}

.lieux{
    background-color:rgb(233, 232, 232);
     display:flex;
     justify-content: center;
    padding: 25px;
    box-shadow: inset 2px 13px 5px -10px #c9c7c7;
     i{
         padding:0 20px;
    }
     input{
        border:none;
        background-color:rgb(233, 232, 232);            
        font-size:1.1em;
        font-weight:bold;
    }    
}
    
.decouverte{ 
    display:flex;
    flex-direction: column;       
    align-items: center;
    text-align: center;
    background-color:whitesmoke;
    padding-bottom:60px;
        @media (min-width: 992px) {
            background-color:white; 
        }
 
    h1{
        padding:0px 40px;
        margin-top:40px;
    }
    p{
        padding:0px 40px;
        margin-bottom:20px;
    }
}

