//PAGE WEB

html, body{
    font-family: 'Roboto','Shrikhand', sans-serif;
    span,p, li, input{
        font-family: 'Roboto', sans-serif;
    } 
}

header, main, footer{
    max-width: 100%;
}

html{
    box-sizing:border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
    margin:0;
    padding:0;
}

.loader-container{
    position:fixed;
    inset:0%;
    z-index:1;
    opacity:0.9;
    background:$color-terciar;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;

    transition:opacity 1s ease-in-out;
    animation:loader 0.5s linear;
    animation-delay: .8s;
    animation-fill-mode: forwards; 
}

.dot{
    width:30px;
    height:30px;
    border-radius:50%;
    background:$color-degrade-btn ;
    margin: 0 15px;
    animation:loader 400ms alternate-reverse ;
}
.d1{
    animation-delay:0s;
}
.d2{
    animation-delay: 0.03s;
}
.d3{
    animation-delay: 0.06s;
}