header {
  text-align: center;
}
header img {
  width: 40%;
  height: 100px;
  padding: 20px 0;
}
@media (min-width: 768px) {
  header img {
    width: 30%;
  }
}

.pageRestos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .pageRestos {
    display: flex;
    justify-content: center;
  }
  .pageRestos i {
    padding-right: 30px;
  }
}

footer {
  background-color: rgb(46, 44, 44);
  color: #ffffff;
  padding: 40px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer img {
  width: auto;
  height: 45px;
  filter: brightness(20);
  padding: 10px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer ul i {
  padding-right: 15px;
  display: flex;
  justify-content: center;
}
footer ul li {
  padding: 10px;
  font-size: 1em;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  .ligne {
    display: inherit;
  }
}

.recherches {
  background-color: #f5f5f5;
}
@media (min-width: 768px) {
  .recherches {
    display: flex;
    flex-direction: column-reverse;
  }
}

.lieux {
  background-color: #e9e8e8;
  display: flex;
  justify-content: center;
  padding: 25px;
  box-shadow: inset 2px 13px 5px -10px #c9c7c7;
}
.lieux i {
  padding: 0 20px;
}
.lieux input {
  border: none;
  background-color: #e9e8e8;
  font-size: 1.1em;
  font-weight: bold;
}

.decouverte {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .decouverte {
    background: url(./../images/imgfond/restau-rachel-pexels.png) center center/cover;
    color: #ffffff;
    font-size: large;
  }
}
@media (min-width: 992px) {
  .decouverte {
    font-size: x-large;
    height: 350px;
  }
}
.decouverte h1 {
  padding: 10px 40px;
  margin-top: 40px;
  font-size: 1.5em;
  /*@media (min-width: 768px) {
      ;
  }*/
}
.decouverte p {
  padding: 0px 40px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.concept-marge {
  padding: 50px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .concept-marge {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .bloc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .bloc {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .contour {
    padding: 10px 40px;
  }
}

.prez {
  background: #e9e8e8;
  padding: 40px 15px;
}
@media (min-width: 992px) {
  .prez {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 15px;
    background: #ffffff;
  }
}
.prez figure {
  margin: 16px 0;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 5px 5px 5px 1px lightgrey;
  cursor: pointer;
  overflow: hidden;
  transition: transform 450ms, background-color 250ms 150ms;
}
.prez figure:hover {
  transform: scale(1.05);
}
.prez h3, .prez p {
  margin: 0;
  padding: 0 10px;
}
.prez p {
  padding-top: 5px;
}
.prez figcaption {
  font-size: 1.2em;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.prez img {
  width: 100%;
  height: 190px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
@media (min-width: 992px) {
  .prez img {
    height: 250px;
  }
}

.prez a {
  text-decoration: none;
  color: black;
}

.etiquette {
  background-color: #99E2D0;
  color: #259478;
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  right: 10px;
  margin: 15px;
  padding: 5px 15px;
  border-radius: 5px;
}
@media (min-width: 992px) {
  .etiquette {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .restau-carte {
    width: 50%;
    padding: 30px;
  }
}

.pageRestos i {
  color: #000000;
}

section {
  background-color: #f5f5f5;
}
section img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media (min-width: 768px) {
  section img {
    height: 250px;
  }
}
@media (min-width: 992px) {
  section img {
    height: 365px;
  }
}

.blocPage {
  background-color: #f5f5f5;
  position: relative;
  bottom: 70px;
  padding: 10px;
}
.blocPage .blocPage > :nth-child(4) {
  display: flex;
}
@media (min-width: 992px) {
  .blocPage {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .blocPage .colonne {
    margin: 0;
    padding: 0;
    width: 31%;
  }
}
.blocPage h2 {
  border-bottom: 4px solid #99E2D0;
  width: 10%;
  color: rgb(112, 111, 111);
}
@media (min-width: 768px) {
  .blocPage h2 {
    width: 100%;
  }
}

.colonne {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .colonne .colonne {
    margin: 0 80px;
  }
}

.containerCheck {
  display: flex;
  margin-right: -7rem;
}

.infos {
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

html, body {
  font-family: "Roboto", "Shrikhand", sans-serif;
}
html span, html p, html li, html input, body span, body p, body li, body input {
  font-family: "Roboto", sans-serif;
}

header, main, footer {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.loader-container {
  position: fixed;
  inset: 0%;
  z-index: 1;
  opacity: 0.9;
  background: #99E2D0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  animation: loader 0.5s linear;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #FF79DA);
  margin: 0 15px;
  animation: loader 400ms alternate-reverse;
}

.d1 {
  animation-delay: 0s;
}

.d2 {
  animation-delay: 0.03s;
}

.d3 {
  animation-delay: 0.06s;
}

.cercle {
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffff;
  position: relative;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}
@media (min-width: 992px) {
  .cercle {
    right: 30px;
  }
}

.btn-explorer {
  border-radius: 50px;
  padding: 20px 50px;
  background: linear-gradient(#9356DC, #FF79DA);
  color: #ffffff;
  border: none;
  font-size: 1em;
  position: relative;
  z-index: 0;
  box-shadow: none;
}
.btn-explorer:hover::after {
  opacity: 1;
}
.btn-explorer::after {
  border-radius: 50px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #a16be0 0%, #ff46cc 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  box-shadow: rgb(139, 137, 137) 0px 8px 24px;
}

.btn-fonction {
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 5px 1px #f5f5f5;
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0px;
  width: 100%;
}
@media (min-width: 992px) {
  .btn-fonction {
    padding: 10px;
  }
}
.btn-fonction:hover {
  background-color: rgb(242, 231, 245);
  z-index: 1;
}
.btn-fonction:hover i {
  color: #9356DC;
}
.btn-fonction i {
  padding-left: 8px;
}
.btn-fonction span {
  padding: 0 40px 0 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.btn-menu {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgb(221, 221, 221);
  margin: 20px 0;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.btn-menu h3, .btn-menu p {
  margin: 0;
}
.btn-menu span {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.btn-commander {
  margin: auto;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 50px;
  padding: 20px 50px;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(#9356DC, #FF79DA);
  position: relative;
  z-index: 0;
  box-shadow: none;
}
.btn-commander:hover {
  border-radius: 50px;
}
.btn-commander:hover::after {
  border-radius: 50px;
  opacity: 1;
}
.btn-commander::after {
  border-radius: 50px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #a16be0 0%, #ff46cc 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  box-shadow: rgb(139, 137, 137) 0px 8px 24px;
}

.titre-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px 25px 0 0;
  background: #f5f5f5;
  position: relative;
  bottom: 50px;
  padding: 40px;
  font-family: "Shrikhand";
}
@media (min-width: 768px) {
  .titre-menu {
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
  }
}
.titre-menu h1 {
  padding-right: 80px;
  font-size: 2em;
}

@media (min-width: 992px) {
  .titre {
    width: -webkit-fill-available;
    font-size: x-large;
    text-align: center;
  }
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .prez h2 {
    background-color: #99E2D0;
    border-radius: 30px 30px 0 0;
    padding: 20px 5px;
  }
}

.concept-marge h2 {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .concept-marge h2 {
    background-color: #99E2D0;
    border-radius: 30px 30px 0 0;
    padding: 20px 5px;
  }
}

.heart-fill {
  position: relative;
  color: #ffffff;
  background-color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.heart {
  transition: all 0.3s linear 0s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.heart-fill:hover .heart {
  transform: scale(1.3);
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.colonne article {
  animation: slideDown 2s;
  animation-fill-mode: both;
}
.colonne article:nth-child(2) {
  animation-delay: 0.6s;
}
.colonne article:nth-child(3) {
  animation-delay: 0.9s;
}
.colonne article:nth-child(4) {
  animation-delay: 1.2s;
}
.colonne article:nth-child(5) {
  animation-delay: 1.5s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.box {
  color: #ffffff;
  background-color: #99E2D0;
  height: auto;
  padding: 20px 40px;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0 10% 10% 0;
  cursor: pointer;
  opacity: 0;
}

.btn-menu:hover .fa-check-circle {
  transform: rotate(360deg);
  transition: 0.4s ease-in-out;
}

.btn-menu:hover .box {
  opacity: 1;
  transition: 0.4s ease-in-out;
  animation: check 0.4s ease-in-out;
  -webkit-animation: scale-x 200ms linear both;
  margin-right: 0;
}

.btn-menu:hover .containerCheck {
  opacity: 1;
  transition: 0.4s ease-in-out;
  animation: check 0.5s ease-in-out;
  -webkit-animation: scale-x 200ms linear both;
  margin-right: 0;
}

@keyframes check {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(-100px);
    z-index: 1;
  }
}
@keyframes loader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/*# sourceMappingURL=style.css.map */
